/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

:root{
    --color-primary:#212121;
    --color-border:#ddd;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.header__nav{
    display: flex;
    justify-content: flex-end;
    height: inherit;
    align-items: center;
}

.header__lista{
    display: flex;
    align-items: center;
}

.header__lista li{
    margin: 1.5rem;
    padding: 0;
    list-style: none;
}

.header__lista li a{
    color: var(--color-primary);
    width: 100%;
    height: 100%;
}


/* main */

.main{
    margin: 0 auto;
    margin-top: 3rem;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:70vh;
}

.main-logo{
    width: 100%;
    margin: 0 auto;
}

.main-logo img{
    width: 50%;
}

.main-form{
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* INPUT */
.main-input-container{
    border-radius: 10rem;
    border: 0.1rem solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0 auto;
    
}

.main-input-container:hover{
    box-shadow: 0px 0px 0.5rem var(--color-border);
}

.main-input-container input{
    border: none;
    width: 100%;
    margin: 0rem 1rem;
    outline: none;
    font: 1.6rem arial,sans-serif;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.buttons-btn{
    display: inline-block;
    background-color: #f8f9fa;
    border: none;
    color: var(--color-primary);
    height: 3.6rem;
    width:90%;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    font-size: 1.4rem;
    margin-bottom: 3rem;
}


.buttons-btn:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
}

.buttons-btn:focus{
    border: 0.1rem solid #4d90fe;
    
}

/* footer */

.footer{
    margin-top: 1.5rem;
    background-color: #f2f2f2;

}

.footer__up{
    display: block;
    width: 100%;
    margin: 0 auto;
    color: #798088;
    padding: 0.5rem 1rem;
    border-bottom: 0.1rem solid #dadce0;
}

.footer__down{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.footer__down-left a,
.footer__down-right a{
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 9rem;
}

.footer__down-left a:last-child,
.footer__down-right a:last-child{
    margin-right: 0;
}