/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

:root{
    --color-black:#000000;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.header{
    height: 6rem;
}

.header__nav{
    display: flex;
    justify-content: flex-end;
}

.header__lista{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

}

.header__lista li{
    margin-right: 2rem;
    padding: 0;
    list-style: none;
}

.header__lista li a{
    padding: 0.5rem;
    color: var(--color-black);
}